body{
  background-color: #c1c1c1;
  text-decoration-style: solid;
  text-transformation : sans-serif;
  word-spacing: 2px;
  text-align: center;
}

h1{
  color : #0b3b52;
  font-family :sans-serif;
  font-weight: bold;

}

h2 {
  color : #105576;
  font-weight :bold;
}

.gambar2{
  height : 50px;
  weight: 20px;
}

#wisata{
  background-color: #c1c1c1;
  text-decoration-style: solid;
  text-transformation : sans-serif;
  word-spacing: 2px;
  text-align: center;
}
